<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta content="{{ description }}" name="description"/>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <nav>
        <h1><a href="/">Matt Boisseau</a></h1>
        <h2>Welcome to my site. Give me a job.</h2>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
    </nav>
</header>
<main>
    <div id="hero"><div id="heroOverlay"><h1>{{ title }}</h1></div><img src="{{ heroImage }}"/></div>
    <div id="content">
        <article>{{ content }}</article>
    </div>
</main>
</body>
</html>
