<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta content="{{ description }}" name="description"/>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <h1><a href="/">Matt Boisseau</a></h1>
    <h2>Welcome to my site. Give me a job.</h2>
    <nav>{{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}</nav>
</header>
<main>
    <article>{{ content }}</article>
</main>
</body>
</html>
